<html>
<head>
    <title>BioniX API</title>
    <style type="text/css">
		body{
			background-color: black;
		}
		#photo{
			text-align:center;
		}
	</style>
</head>

<body>
<div class="main_container">
    <div id="photo">
        <img src="http://mcapi.ca/avatar/2d/Ajani_Ramon"/>
    </div>

    <p style="text-align:center;color:white;font-weight:bold;">This is a RESTful API.</p>
    <br/>
    <p style="text-align:center;color:white;font-weight:bold;">AjaniCorp's Playground. Make a responsible use. Every security breaking attempt will be reported to authorities.</p>
</div>
</body>
</html>

